* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #180122;
    color: #333;
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

header img {
    width: 100px;
}

nav ul {
    color: white;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}
a {
    color:#ac04fa
}

#hero {
    color: rgb(32, 245, 78);
    text-align: center;
    padding: 50px;
    background-color: rgb(54, 9, 71);
    border-radius:30px;
}

#hero h1 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.card {
    background-color: rgb(255, 255, 255) ;
    margin-top: 30px;
    width: 30%;
    border-radius: 20px;

}

.card img {
    width: 100%;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

.galeria-imgs {
    display:flex;
    gap: 10px;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.galeria-imgs img {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.galeria-imgs h3 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.galeria-imgs p {
    text-align: center;
    padding-bottom: 20px;
}
#produtos {
    color: white;
    margin-top: 20px;
}

.mangas {
    color: white;
    margin-top: 20px;
}
.galeria-imgs-two {
    display:flex;
    gap: 10px;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

.galeria-imgs-two img {
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;

}

.galeria-imgs-two h3 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: 20px;
}

.galeria-imgs-two p {
    text-align: center;
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
  border: 1px solid #055205;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #5bdd1f;
}

td {
    color: #f0f9ff;
}

#usuario {
    color: white;
    text-align: center;
    margin-top: 20px;
}

#informacoes-usuario {
    color: white;
    margin-top: 20px;
}

#historico-compras {
    color: white;
    margin-top: 20px;
}

#configuracoes {
    color: white;
    margin-top: 20px;
}

#suporte {
    font-size: 14px;
    text-align: center;
    color: white;
    margin-top: 20px;
}

#logout {
    text-align:end;
    color: white;
    margin-top: 30px;
}

#direitos-autorais {
    font-size: 14px;
    color: white;
    margin-top: 20px;
    text-align: center;
}